PORT=3000
# MongoDB connection details
MONGODB_USER=
MONGODB_PASSWORD=FHp
MONGODB_URL=
MONGODB_DB=

# Gmail SMTP settings
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
JWT_SECRET=

# Cloudinary Ayarları
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

APP_DOMAIN=http://localhost:3000


